/*Basic styles*/

* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    --light-rgb: 248, 249, 250;
    --bg-opacity: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #f9fafb;
}

.container {
    width: 1400px;
}

.container h1, h2, h4 {
    text-align: center;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding-left: 0.5rem;
    user-select: none;
    border-radius: 1rem;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 1.25rem;
}

input::placeholder {
    font-size: 1rem;
}

/*Header styles*/

.header {
    margin-bottom: 2.5rem;
}

.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(var(--light-rgb), var(--bg-opacity));
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav > .container {
    min-width: 100%;
}

.navbar-brand {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgba(0, 0, 0, 0.9);
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-collapse {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: 0;
}

.nav-item {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 1rem;
}

.nav-link {
    color: rgba(0, 0, 0, 0.55);
}

.nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.form-search {
    flex: 0 0 auto;
    width: auto;
}

/*Content styles*/

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 35rem;
    margin: auto;
}

.rounded-circle {
    border-radius: 50%
}

.intro {
    margin-bottom: 1rem;
    padding: 1rem;
}

.intro h1 {
    font-size: 3rem;
}

.intro h4 {
    font-weight: 400;
}

.generated-password {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px;
    border-bottom: 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background: #FFF;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.generated-password__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.created-password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input#password {
    font-size: 1.5rem;
}

.generated-password__btn {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0.5rem;
}

.btn {
    border: none;
    width: 3rem;
    height: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.5rem;
    background-size: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFF;
}

.btn:hover {
    color: #F79E02;
    background-color: white;
}

.btn-content {
    display: none;
}

#gen-btn {
    background-image: url("../image/ico/refresh.png");
    transition: 1s;
}

#copy-btn1, #copy-btn2, #copy-btn3, #copy-btn4, #copy-btn5 {
    background-image: url("../image/ico/copy.png");
}

.generated-password__strength-wrapper {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.generated-password__strength {
    width: 100%;
    height: 0.5rem;
    background-color: green;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: 1s;
}

.myModal {
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
    z-index: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10rem;
    padding: 1rem;
    border: 1px;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background: #FFF;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-container {
    width: 100%;
    margin-bottom: 1rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #F79E02;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #F79E02;
    cursor: pointer;
}

.slider-input {
    margin-bottom: 1rem;
}

.password-length {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.password-complication {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#selectValue {
    width: 3rem;
    border-radius: 0.5rem;
}

.custom-password {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;
}

.custom-password-fill {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-password-fill+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-password-fill+label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-password-fill:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-password-fill:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.custom-password-fill:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-password-fill:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-password-fill:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.custom-password-fill:disabled+label::before {
    background-color: #e9ecef;
}

/*Footer styles*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: rgba(var(--light-rgb), var(--bg-opacity));
    box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
}

.footer__body {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer__link {
    margin-right: 0.5rem;
    line-height: 1;
}

.footer__list {
    display: flex;
    justify-content: end;
}

.footer__list__item {
    margin-left: 1rem;
}

.text-muted {
    --text-opacity: 1;
    color: #6c757d;
}

@media (min-width: 256px) {
    .container {
        max-width: 220px;
    }

    .generated-password__btn {
        display: flex;
        width: 35%;
    }
}

@media (min-width: 375px) {
    .container {
        max-width: 340px;
    }

    .header {
        margin-bottom: 5rem;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .generated-password__btn {
        display: flex;
        width: 30%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .generated-password__btn {
        display: flex;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .nav {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}